{% load static %}
<div class="nav-wrapper">

	<!-- Link around dots-wrapper added after tutorial video -->
{% if request.user.is_student  %}
<a href="{% url 'HomeStudent' %}">
	<div class="dots-wrapper">
		<div id="dot-1" class="browser-dot"></div>
		<div id="dot-2" class="browser-dot"></div>
		<div id="dot-3" class="browser-dot"></div>
	</div>
</a>

{% elif request.user.is_teacher %}
<a href="{% url 'HomeTeacher' %}">
	<div class="dots-wrapper">
		<div id="dot-1" class="browser-dot"></div>
		<div id="dot-2" class="browser-dot"></div>
		<div id="dot-3" class="browser-dot"></div>
	</div>
</a>
{% elif  request.user.is_school %}

<a href="{% url 'HomeSchool' %}">
	<div class="dots-wrapper">
		<div id="dot-1" class="browser-dot"></div>
		<div id="dot-2" class="browser-dot"></div>
		<div id="dot-3" class="browser-dot"></div>
	</div>
</a>
{% else %}
<a href="{% url 'Home' %}">
	<div class="dots-wrapper">
		<div id="dot-1" class="browser-dot"></div>
		<div id="dot-2" class="browser-dot"></div>
		<div id="dot-3" class="browser-dot"></div>
	</div>
</a>

{% endif %}
	

	 <ul id="navigation">
		<h2  id="close-btn" style="text-align: center">X</h2>
		
		{% if request.user.is_authenticated and request.user.is_student %}
		<li><a href="{% url 'Posts' %}">Posts</a></li>
		<li><a href="{% url 'StudentAccount' %}">account</a></li>
		
			<li><a href="{% url 'logoutStudent' %}">Logout</a></li>
		{% elif request.user.is_authenticated and request.user.is_teacher %}
		<li><a href="{% url 'PostsTeacher' %}">Posts</a></li>
        <li><a href="{% url 'createPost' %}">Create Post</a></li>
		<li><a href="{% url 'TeacherAccount' %}">account</a></li>
		<li><a href="{% url 'logoutTeacher' %}">Logout</a></li>
		{% elif request.user.is_authenticated and request.user.is_school %}
		<li><a href="{% url 'PostsTeacher' %}">Posts</a></li>
        <li><a href="{% url 'createPost' %}">Create Post</a></li>
		<li><a href="{% url 'TeacherAccount' %}">account</a></li>
		<li><a href="{% url 'logoutTeacher' %}">Logout</a></li>
		{% else %}
		<li><a href="{% url 'HomeTeacher' %}">Teacher</a></li>
        <li><a href="{% url 'HomeStudent' %}">Student</a></li>
		<li><a href="{% url 'HomeSchool' %}">School</a></li>
		{% endif %}
	</ul>

	<img id="menu-icon" src="{% static 'images/menu.png' %}">

</div>


<script type="text/javascript">
	let menu = 'closed' 

	let menuIcon = document.getElementById('menu-icon')
	let navigation = document.getElementById('navigation')
	let closeBtn = document.getElementById('close-btn')

	menuIcon.addEventListener('click', toggleMenu)
	closeBtn.addEventListener('click', toggleMenu)


	function toggleMenu(){
		if (menu == 'closed'){
			navigation.style.display = 'block'
			closeBtn.style.display = 'block'
			menu = 'open'
		}else{
			navigation.style.display = 'none'
			closeBtn.style.display = 'none'
			menu = 'closed'
		}
	}

	    
	// Attaching the event listener function to window's resize event
	
	window.addEventListener("resize", function(){
		let width = document.documentElement.clientWidth;
		if(width > 1080){
				navigation.style.display = 'block'
		}else{
				navigation.style.display = 'none'
		}
		menu = 'closed'
		closeBtn.style.display = 'none'
	});
	
</script>