{% extends 'student/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


<style type="text/css">
	#div_id_tags, #id_tags{
		overflow-y: scroll;
		max-height: 100px;
		border-radius: 5px;
		padding: 5px;
		border:1px solid #888;
	}
</style>
<script>

	{% comment %} function Openform()
	{
		
		document.getElementById('searchForm').style.display = '';
		
	}
	function Closeform()
	{
		
		document.getElementById('searchForm').style.display = 'none';
		
	} {% endcomment %}

	var timesClicked = 0;

$("#searchForm").click(Openform() {
    timesClicked++;

    if (timesClicked%2==0) {
        //run second function
		Closeform()
    } else {
        //run first function
		Openform()

    }
})

</script>

<div class="main-container">
	<h1>Posts</h1>
	
	<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-filter-right" viewBox="0 0 16 16", onclick="Openform()" onsecondclick="">
		<path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z"/>
	  </svg>
	


	<form id="searchForm" method="GET", style="display:none">
		{{filterschool.form|crispy}}

		<input class="btn btn-primary" type="submit" value="search">
	</form>
	<br>
	<div class="post-wrapper">

		{% for post in postschool %}
		<div>
			<div class="post">
				<img class="thumbnail" src="{{post.image.url}}">
				<div class="post-preview">
					<h6 class="post-title">{{post.title}}</h6>
					<p class="post-intro">{{post.level}}</p>
					<p class="post-intro">{{post.division}}</p>
					<p class="post-intro">{{post.Annee}}</p>
					<p class="post-intro">{{post.matier}}</p>
					<p class="post-intro">created by {{post.school.school_name}} school at :  {{post.created}}</p>
					<a href="{% url 'post' post.slug %}">Read More</a>

					{% comment %} {% if request.user.is_staff %}
						| <a href="{% url 'update_post' post.slug %}">Edit</a>
						| <a href="{% url 'delete_post' post.slug %}">Delete</a>
					{% endif %} {% endcomment %}
					<hr>
				</div>
			</div>
		</div>
		{% empty %}
			<h3>No posts found...</h3>
		{% endfor %}
	</div>
	

	<div class="row">
		
		{% if postschool.has_other_pages %}

			<ul class="pagination">

				{% if postschool.has_previous %}
					<li class="page-item"><a data-page="{{postschool.previous_page_number}}" href="?page={{postschool.previous_page_number}}" class="page-link">&laquo</a></li>

					<li class="page-item"><a data-page="1" href="?page=1" class="page-link">First</a></li>
				{% endif %}


				{% for i in postss.paginator.page_range %}
					{% if postss.number == i %}
						<li class="page-item"><a class="active page-link">{{i}}</a></li>
					{% else %}
						<li class="page-item"><a data-page="{{i}}" href="?page={{i}}" class="page-link">{{i}}</a></li>
					{% endif %}
					
				{% endfor %}


				{% if postss.has_next %}
					<li class="page-item"><a data-page="{{postschool.paginator.num_pages}}" href="?page={{postschool.paginator.num_pages}}" class="page-link">Last</a></li>

					<li class="page-item"><a data-page="{{postschool.next_page_number}}" href="?page={{postschool.next_page_number}}" class="page-link">&raquo</a></li>
				{% endif %}
			</ul>

		{% endif %}
	</div>
</div>


<script type="text/javascript">
	let searchForm = document.getElementById('searchForm')
	let pageLinks = document.getElementsByClassName('page-link')

	for(var i=0; pageLinks.length > i; i++){

		pageLinks[i].addEventListener('click', function(e){
			e.preventDefault()
			let page = this.dataset.page
			console.log('Page:', page)
			searchForm.innerHTML += `<input value="${page}" name="page" hidden >`
			searchForm.submit()
		})

	}
</script>

{% endblock content %}
